#PageHeader{
    display:flex;
    background-color:#00008b;
    color:#fff;
    justify-content:center;
    padding-bottom:10px;
    width:100%;
}

body {
}
table {
    table-layout:fixed;
    text-align:center;
}