<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderPage("~/Views/Shared/_Header.cshtml")
    </div>
    <div>
        <h1>Test</h1>
        @RenderBody()
    </div>
    <hr />
    <div>
        @RenderPage("~/Views/Shared/_Footer.cshtml")
    </div>
</body>
</html>
