@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Welcome to Viva Registry:</h2>
@Html.ActionLink("Create a new Application", "Create", "Applications", null, new { @class = "btn btn-primary" })
@Html.ActionLink("View existing Applications", "Index", "Applications", null, new { @class = "btn btn-primary" })
